API_ID= 26444187
API_HASH= e4997d5c26c78993920a6973ba95cc97
BOT_TOKEN= 7918530343:AAG69CTXJOBn5EBL29AkrNXraRdD63DQbj4
MONGO_DB_URI= mongodb+srv://rezqim683:<db_password>@cluster0.b7ayyrf.mongodb.net/
LOG_GROUP_ID= 
OWNER_ID= 6874740506
STRING_SESSIONS= 
JOIN_DULU=